.contact {
    margin: 2rem 5rem;
    margin-top: 5rem;
}

h1 {
    font-family: Poppins-Bold;
}

h2 {
    font-family: Poppins-Regular;
    margin-top: 2rem;
}

p {
    margin-top: 5px;
    line-height: 25px;
    color: black;
}

.contact__row{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    transition: transform .2s; /* Animation */
    width: min-content;
    cursor: pointer;
}

.contact__row:hover{
    z-index: 1;
    transform: scale(1.1);
}

.contact__icon{
    font-size: 28px;
    margin-right: 10px;
}

.github{
    color: black;
}

.linkedin{
    color: #0E76A8
}

.twitter{
    color: #00ACEE;
}

.portfolio{
    color: #CC45F2;
}

.appstore{
    color: rgb(25, 135, 232);
}

.link{
    text-decoration: none;
    display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 470px) {
    .contact {
        margin: 1rem 1rem;
        margin-top: 1rem;
    }
    
    p {
        margin-top: 5px;
        line-height: 25px;
        color: black;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .contact {
        margin: 1rem 2rem;
        margin-top: 2rem;
    }
    
    p {
        margin-top: 5px;
        line-height: 25px;
        color: black;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .contact {
        margin: 1rem 3rem;
        margin-top: 3rem;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .contact {
        margin: 1rem 4rem;
        margin-top: 4rem;
    }
    
    p {
        margin-top: 5px;
        line-height: 25px;
        color: black;
    }

}

@media only screen and (min-width: 1201px) {
    .contact {
        margin: 1rem 5rem;
        margin-top: 5rem;
    }
    
    p {
        margin-top: 5px;
        line-height: 25px;
        color: black;
    }
}