.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
    padding-top: 10px;
    border-top: 1.5px solid #eff2f5;
    /* position:absolute;
    left:0;
    bottom:0;
    right:0; */
}

.footer__left{
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
}

.footer__left>h1{
    font-family: Poppins-Bold;
}

.footer__slogan {
    /* font-family: Lato-Regular; */
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.footer__slogan__left {
    color: #7b7d8a;
    /* font-family: Lato-Light; */
}

.footer__slogan__right {
    color: #ff000f;
    padding-left: 4px;
}

.footer__options{
    display: flex;
}

.footer__options h3{
    margin-left: 20px;
    color: black;
    /* font-family: Lato-Light; */
    font-size: 17px;
    /* cursor: pointer; */
}

.link {
    text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 470px) {
    .footer {
        flex-direction: column;
        margin: 1rem 1rem;
    }
    
    .footer__left{
        flex-direction: column;
    }
    
    .footer__options{
        flex-direction: column;
        align-items: center;
    }

    .footer__options h3{
        margin-left: 0px;
        margin: 10px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
        flex-direction: row;
        margin: 1rem 2rem;
    }
    
    .footer__left{
        flex-direction: row;
    }
    
    .footer__options{
        flex-direction: row;
        align-items: center;
    }

    .footer__options h3{
        margin-left: 0px;
        margin: 10px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        flex-direction: row;
        margin: 1rem 3rem;
    }
    
    .footer__left{
        flex-direction: row;
    }
    
    .footer__options{
        flex-direction: row;
        align-items: center;
    }

    .footer__options h3{
        margin-left: 0px;
        margin: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .footer {
        flex-direction: row;
        margin: 1rem 4rem;
    }

}

@media only screen and (min-width: 1201px) {
    .footer {
        flex-direction: row;
        margin: 1rem 5rem;
    }

}