.header {
    /* padding: 15px 20px; */
    margin: 0 auto;
    padding: 15px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    background-color: rgb(27, 27, 28);
    color: white;
}

.header__left {
    font-family: Poppins-Bold, serif;
    font-size: 15px;
    /* padding-left: 2rem; */
    display: flex;
    justify-content: space-evenly;
    padding-right: 15px;
}

.header__center {
    /* display: flex; */
    /* flex-direction: column; */
    max-height: 10px;
}

.header__searchbar{
    display: flex;
    align-items: center;
    max-height: 12px;
    /* background-color: #eff2fe; */
    background-color: white;
    padding: 10px;
    /* margin-left: 10rem; */
    border-radius: 10px;
    color: black;
}

.dataResult{
    margin-top: 15px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Hide scroll bar */
.dataResult::-webkit-scrollbar {
    display: none;
  }

.header__searchbar > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__right {
    /* font-family: Poppins; */
    font-style: normal;
    display: flex;
    /* flex: 1; */
    justify-content: center;
    font-size: 10px;
}

.header__option:hover > h2 {
    /* color: rgb(216, 216, 216); */
}

.header__option {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    cursor: pointer;
}

.header__option:hover {
    background-color: black;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
